blinker==1.7.0
Brotli==1.1.0
cffi==1.16.0
click==8.1.7
cssselect2==0.7.0
Flask==3.0.0
fonttools==4.44.0
html5lib==1.1
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
Pillow==10.1.0
pycparser==2.21
pydyf==0.8.0
PyMySQL==1.1.0
pyphen==0.14.0
six==1.16.0
tinycss2==1.2.1
weasyprint==60.1
webencodings==0.5.1
Werkzeug==3.0.1
zopfli==0.2.3
