<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <!-- navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home') }}" style="color: orange;">Hospital</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              {% if 'username' in session %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('dashboard') }}">Dashboad</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('register') }}">Register</a>
                  </li>
                  {% endif %}
              </ul>
          </div>
        </div>
      </nav>


    <!-- navbar end -->

    {% block content %}
    {% endblock %}

<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.js') }}"></script>
</body>
</html>